package pages

import (
	"vertex/api"
	"vertex/ui/layouts"
	"vertex/ui/modules"
)

templ DashboardPage(stns []api.Station, sats []api.Satellite, isLoggedIn bool) {
	@layouts.BaseLayout(isLoggedIn) {
		<div id="dashboard">
			<h1 class="font-bold m-4">Stations</h1>
			@modules.StationsDash(stns)
			<br/>
			<h1 class="font-bold m-4">Satellites</h1>
			@modules.SatellitesDash(sats)
		</div>
	}
}
