package pages

import (
	"vertex/ui/components/button"
	"vertex/ui/layouts"
)

templ HomePage() {
	@layouts.BaseLayout() {
		<div class="">
			<div class="px-6 py-24 sm:px-6 sm:py-32 lg:px-8">
				<div class="mx-auto max-w-2xl text-center"></div>
			</div>
			@button.Button(button.Props{
				Class: "rounded-full",
			}) {
				Button
			}
		</div>
	}
}
