package pages

import (
	"vertex/api"
	"vertex/ui/layouts"
	"vertex/ui/modules"
)

templ PendingPage(tasks []api.Task, page int, totalPages int, isLoggedIn bool) {
	@layouts.BaseLayout(isLoggedIn) {
		@modules.PaginatedPendingTable(tasks, page, totalPages)
	}
}
