package pages

import (
	"vertex/api"
	"vertex/ui/layouts"
	"vertex/ui/modules"
)

templ SchedulePage(jobs []api.Job, page int, totalPages int, isLoggedIn bool) {
	@layouts.BaseLayout(isLoggedIn) {
		@modules.PaginatedScheduleTable(jobs, page, totalPages)
	}
}
